body {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#ddd), color-stop(0.5, #fff), to(#ddd));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, #ddd, #fff, #ddd);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #ddd, #fff, #ddd);

  /* IE 10 */
  background: -ms-linear-gradient(left, #ddd, #fff, #ddd);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #ddd, #fff, #ddd);
  font-size: 14px;
}

h2, h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 4px 0 0 0;
  padding: 0;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

header {
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  color: #ccc;
  position: fixed;
  top: 0;
  line-height: 64px;

  background-color: #eeeeee;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#ddd), color-stop(0.5, #fff), to(#ddd));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, #ddd, #fff, #ddd);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #ddd, #fff, #ddd);

  /* IE 10 */
  background: -ms-linear-gradient(left, #ddd, #fff, #ddd);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #ddd, #fff, #ddd);
  font-size: 14px;

}

#header_title h1 {
  line-height: 24px;
}

header a, a:visited, a:hover {
  color: #292929;
  text-decoration: none;
}

header a:hover {
  color: #0088cc;
}

#header_wrap {
  width: 600px;
  margin: 0 auto 0 auto;
  height: 64px;
  line-height: 64px;
}

.session {
  margin-left: 16px;
}

.container {
  margin: 88px auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

.container a, a:visited a:hover {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #292929;
}

#sign_in_register {
  text-align: center;
  width: 504px;
  margin: 48px auto 0 auto;
  border: 1px solid #292929;
  border-radius: 8px;
  background-color: none;
  padding: 16px 48px 16px 48px;
  color: #292929;
}

#sign_in_register form {
  margin-bottom: 16px;
}

#sign_in_register h2 {
  margin-bottom: 32px;
}

input {
  border-radius: 4px;
  border: 0;
  margin-bottom: 16px;
  height: 24px;
  background-color: transparent;
  width: 200px;
  padding-left: 4px;
  outline: none;
  border: 1px solid #666;
  display: inline-block;
  /*-moz-box-shadow:    inset 0 0 3px #000000;*/
  /*-webkit-box-shadow: inset 0 0 3px #000000;*/
  /*box-shadow:         inset 0 0 3px #000000;*/
}

input:focus {
  border: 1px solid #0088cc;
  background-color: white;
}

.submit {
  display: inline-block;
  width: 200px;
  background-color: #292929;
  color: white;
  height: 32px;
  width: 206px;
  border: 1px solid #292929;
}

.submit:hover {
  background-color: #0088cc;
  color: #eee;
  border-color: #0088cc;
}

.play_button {
  margin-top: 32px;
}

.follow_heading {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 64px;
}

.deck_list_name {
  margin-top: 24px;
}

.deck_list_name h3 {
  margin: 0;
  padding: 0;
}

.deck_list_name p {
  margin-top: 0;
  color: #666;
}

a.stop_round , a.stop_round:visited {
  color: #bbb;
}

a.stop_round:hover {
  color: #0088cc;
}

p.date_played {
  color: #292929;
}

.round_stats {
  margin: 0;
  padding:; 0;
}

.guess_recap {
  margin: 0 0 0 0;
  padding: 0 0 0 24px;
}

.correct {
  color: #00a032;
}

.wrong {
  color: #c8255d;
}

.hidden {
  height: 0px;
  overflow: hidden;
}

.shown {
  height: auto;
  margin-top: 16px;
  transition: height 2s;
  -webkit-transition: height 2s; /* Safari */
}

.expander {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  color: #999;
}

.collapser {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  color: #999;
}

div.expander > text:hover {
  color: #0088cc;
  cursor: pointer;
}

div.collapser > text:hover {
  color: #0088cc;
  cursor: pointer;
}

.expander > text {
  font-size: 10px;
}

.collapser > text {
  font-size: 10px;
}