<div class="container">
  <div id="sign_in_register" class="float_left">

    <div class="float_left">
      <h2>Been here before?</h2>
      <p>Log in here:</p>
      <form action='/login' method='POST'>
        <input type="username" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input class="submit" type="submit" value="Log In">
      </form>
    </div>
    
    <div class="float_right">
      <h2>New here?</h2>
      <p>Register below:</p>
      <form action="/signup" method="POST">
        <input type="username" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input class="submit" type="submit" value="Register">
      </form>
    </div>
  </div>
</div>