<div class="container">

<% if session[:user_id] %>

  <h1>Flash Cards!</h1>
  <h2>Decks</h2>
  <% @decks.each do |deck| %>
  <h3><a href="/play/<%= deck.name %>"><%= deck.name %></a><br></h3>
  <p><%= deck.description %></p><br><br>
  <% end %>

<% else %>

<h3>Been here before?  Log in here:</h3>
  <form action='/login' method='POST'>
    <input type="username" name="login[username]"><br>
    <input type="password" name="login[password]"><br>
    <input type="submit">
  </form>

<h3>New here? Sign up below:</h3><br>
  <form action="/signup" method="POST">
    <input type="username" name="signup[username]"><br>
    <input type="password" name="signup[password]"><br>
    <input type="submit">
  </form>

<% end %>

</div>
