<% if session[:user] %>
  <div id="filter-deck-splash">
		<h2>What kind of deck are you looking for?</h2>
		<ul>
			<li>
				<a href="#">
					<span>Example tag</span>
					<span>18</span>
				</a>
	</div>
<% else %>
  <%= erb :_sign_in_out %>
<% end %>
