<div class="container">

<% if session[:user] %>

  <h2>Decks</h2>
  <p class="follow_heading">Here are all the decks that you can play.</p>
  <% @decks.each do |deck| %>
  <div class="deck_list_name">
    <h3><a href="/play/<%= deck.name %>"><%= deck.name %></a><br></h3>
    <p><%= deck.description %></p>
  </div>
  <% end %>

<% else %>

<div id="sign_in_register" class="float_left">

  <div class="float_left">
    <h2>Been here before?</h2>
    <p>Log in here:</p>
    <form action='/login' method='POST'>
      <input type="username" name="username" placeholder="username"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input class="submit" type="submit" value="Log In">
    </form>
  </div>
  
  <div class="float_right">
    <h2>New here?</h2>
    <p>Register below:</p>
    <form action="/signup" method="POST">
      <input type="username" name="username" placeholder="username"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input class="submit" type="submit" value="Register">
    </form>
  </div>

</div>

<% end %>

</div>
