<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Flashcards!</title>
</head>
<body>
  <header>
    <div id="header_wrap">
      <div id="header_title" class="float_left">
        <a href="/"><h1>Flashcards!</h1></a>
      </div>
      
      <% if signed_in? %>
        <div class="float_right session">
          <a href="/logout">Logout</a>
        </div>
        <div class="float_right session">
          <a href="/u/<%= current_user.id %>">My Profile</a>
        </div>
      <% end %>

    </div>
  </header>
  <%= yield %>
</body>
</html>
