<h1><%= @card.prompt %></h1>

<form action="/next" method="POST">
  <input type="hidden" value="<%= @card.id %>" name="id">
  <input type="text" name="guess"><br><br>
  <input type="submit">

</form>
<h2><%= @card.answer %></h2>

<!-- <form action="/next" method="POST">
  <input type="hidden" value="<%= @card.id %>" name="id">
  <input type="submit" value="Next Card">
</form><br> -->
<form action="/finish">
  <input type="submit" value="Finish">
</form>
